<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Rem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapaCentral">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mapa
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MenuRegistos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LoginMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login Menu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MapaEnergias">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mapa Energias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MeusAvisos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Meus Avisos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="verEmpresas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Empresas
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
