@page "/people"

@using Projeto
@using Projeto.Models
@inject IDataAccess _dada


<h3>People</h3>


@code {      
    List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        //await _data.loadData
    }


}
