@page "/"

<h1>Olá User</h1>

Bem Vindo a Aplicação REM, onde podes acompanhar em primeira mão o uso de energias renováveis em Portugal.

<SurveyPrompt Title="Infelizmente ainda estamos em desenvolvimento, porfavor seja paciente" />
